body, h1{
	margin: 0px;
	padding: 0px;
	line-height: 1.5em;
	font-family: Times, "Times New Roman", serif, Georgia;
}
#header{
	padding-left: 0.5em;
	padding-top: 0px;
	background-color: #EAEAEA;
	height: 80px;
}
#contentcolumn{
	overflow: hidden;
	padding-left: 0.5em;
	padding-right: 0.5em;
}
#leftcolumn{
	background-color: #C8FC98;
	float: left;
	width: 200px;
	padding-left: 0.5em;
	padding-right: 0.5em;
}
#footer{
    background-color: black;
    clear: left;
    text-align: center;
	padding: 5px;
}
a{
	color: #FFFF80;
}

